@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@500&family=Comfortaa:wght@300&family=Dancing+Script&family=Fascinate&family=Fuzzy+Bubbles&family=Kanit:wght@200&family=Klee+One&family=Labrada:wght@400&family=Lato:wght@300&family=Lobster&family=Merriweather:wght@200&family=Nunito:wght@300&family=Pacifico&family=Poppins:wght@200&family=Roboto+Condensed:wght@300&family=Satisfy&family=Titillium+Web:wght@300&family=Ubuntu&display=swap");

body {
  margin: 0;
  font-family: Titillium Web;
  font-size: 14px;
  letter-spacing: 1px;
}

:root {
  --main-accent-color: blueviolet;
  --secondary-accent-color: yellow;
}

.brand-logo {
  height: 3rem;
  width: 3rem;
}

.nav-item a,
.nav-link {
  color: black;
  letter-spacing: 1px;
}

.nav-link:hover {
  transition: all 0.1s ease;
  color: var(--main-accent-color);
  text-decoration: underline 5px;
  text-underline-position: under;
  text-underline-offset: 25px;
}

.bg-canvas {
  margin-top: 72px;
  min-height: 82vh;
  background: var(--main-accent-color);
}

.selected-item {
  text-decoration: none;
}
.selected-item:hover {
  transform: scale(0.99);
  transition: all 0.3s ease-in-out;
}

.accent1-bg {
  background: var(--main-accent-color);
}

.accent2-bg {
  background: yellow;
}

.stars {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.stars li {
  margin-right: 8px;
  font-size: 20px;
}

.stars li:hover {
  color: yellow;
}

.custom-btn {
  padding: 10px 15px;
  color: white;
  background: blueviolet;
  border: 1px solid blueviolet;
  border-radius: 5px;
}

.custom-btn:hover {
  background: rgb(138, 43, 226, 0.8);
  transition: all 0.3s ease;
}

.custom-outline-btn {
  padding: 9px 15px;
  color: blueviolet;
  background: whitesmoke;
  border: 1px solid blueviolet;
  border-radius: 5px;
}

.custom-outline-btn:hover {
  color: white;
  background: rgb(138, 43, 226, 0.8);
  transition: all 0.3s ease;
}

b {
  color: var(--main-accent-color);
}

#shop-now {
  position: absolute;
  top: 62vh;
  right: 15vw;
  height: 76px;
  width: 220px;
  letter-spacing: 2px;
  font-weight: bold;
  color: chocolate;
}
