@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@500&family=Comfortaa:wght@300&family=Dancing+Script&family=Fascinate&family=Fuzzy+Bubbles&family=Kanit:wght@200&family=Klee+One&family=Labrada:wght@400&family=Lato:wght@300&family=Lobster&family=Merriweather:wght@200&family=Nunito:wght@300&family=Pacifico&family=Poppins:wght@200&family=Roboto+Condensed:wght@300&family=Satisfy&family=Titillium+Web:wght@300&family=Ubuntu&display=swap");

body {
  margin: 0;
  font-family: Calibri;
  font-size: 14px;
  letter-spacing: 1px;
}

:root {
  --main-accent-color: lavender;
  --secondary-accent-color: yellow;
}

.nav-item a,
.nav-link {
  color: white;
  letter-spacing: 1px;
}

.nav-link:hover {
  transition: all 0.1s ease;
  color: sandybrown;
  text-decoration: underline 5px;
  text-underline-position: under;
  text-underline-offset: 5px;
}

.bg-canvas {
  margin-top: 72px;
  min-height: 82vh;
  background: var(--main-accent-color);
}

.selected-item {
  text-decoration: none;
}
.selected-item:hover {
  transform: scale(0.99);
  transition: all 0.3s ease-in-out;
}

.accent1-bg {
  background: var(--main-accent-color);
}

.accent2-bg {
  background: yellow;
}

.stars {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.stars li {
  margin-right: 8px;
  font-size: 20px;
}

.stars li:hover {
  color: yellow;
}

.custom-btn1,
.custom-btn2,
.custom-btn3 {
  padding: 8px 30px;
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 1px grey;
  opacity: 0.9;
}

.custom-btn1:hover,
.custom-btn2:hover,
.custom-btn3:hover {
  opacity: 1;
  transform: scale(0.99);
}

.custom-btn1 {
  border-radius: 20px;
  background: orange;
  border: 1px solid orange;
}

.custom-btn2 {
  border-radius: 20px;
  background: yellow;
  border: 1px solid yellow;
}

.custom-btn3 {
  background: linear-gradient(to top, white, lightgrey);
  border: 1px solid gray;
}

.custom-btn:hover {
  background: lightseagreen;
  transition: all 0.3s ease;
}

.custom-outline-btn {
  padding: 9px 15px;
  color: darkcyan;
  background: white;
  border: 1px solid darkcyan;
  border-radius: 5px;
}

.custom-outline-btn:hover {
  background: whitesmoke;
  transition: all 0.3s ease;
}

.navbar {
  background: #333;
  padding: 0px 30px;
}

.brand-logo {
  background: #333;
  height: 2rem;
}

.search-bar {
  padding: 7px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid white;
  outline: none;
  width: 25rem;
}

.search-icon {
  background: sandybrown;
  padding: 12px 14px 13px 14px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.user-avatar img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}
