body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Monaco, Consolas, "Courier New", monospace;
}

.brand-logo {
  height: 3rem;
  width: 5rem;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
  transition: all 0.5s ease-out;
}

.selected-item {
  color: black;
  text-decoration: none;
}
.selected-item:hover {
  transform: scale(0.97);
  transition: all 0.5s ease-in-out;
  color: #333;
}

.accent1-bg {
  background: limegreen;
}

.accent2-bg {
  background: hotpink;
}

.custom-btn {
  width: 100%;
  padding: 10px;
  color: white;
  background: limegreen;
  border: 1px solid limegreen;
  margin-top: 5px;
}

.custom-btn:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}
